*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
width: 60%;
min-height: 550px;
/* border: 2px solid #000; */
margin: 10px auto;
}
.lononav{
    width: 100%;
    min-height: 70px;
    /* border: 2px solid rgb(89, 33, 158); */
    display: flex;
}
.log{
    width: 30%;
    min-height: 70px;
    /* border: 2px solid rgb(158, 33, 123); */
text-align: center;
color: forestgreen;
}
.navi{
    width: 70%;
    min-height: 70px;
    /* border: 2px solid rgb(57, 220, 16); */
}
.nav-item a:hover{
background-color: forestgreen;
border: 1px solid #000;
border: none;
}
li{
    justify-content: space-around;
}
.nav-item a{
    background-color: whitesmoke;      
}
.landingpage{
    width: 100%;
    height:550px;
    /* border: 2px solid red; */
    background-image: url("/image/interior-3530455_1920.jpg");
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
}
.blog{
    width: 20%;
    min-height:10px;
    align-items: center;
    text-align: center;
    color: #000;
    opacity: 0.6;
    padding-top: 250px;
    margin-left: 430px;
    /* border: 3px solid #000; */
}
.contenttext{
    background-color: #000;
    justify-content: center;
    border: 4px solid white;
    border-radius: 15px;
    text-align: center;
}
.contenttext h2{ 
color: yellow;
text-shadow:2px 2px black;
}
.contenttext h6{
    color: yellow;
    padding-bottom: 5px;
}
.ourblog{
width: 100%;
min-height: 450px;
/* border: 2px solid red; */
}
.Ourtext{
text-align: center;
padding-top: 10px;

}
.BlogHeading{
    text-align: center;
}
.BlogHeading p{
text-align: center;
padding: 5px 260px;
font-size: small;
}
.specilities{
width: 100%;
min-height: 400px;
/* border: 2px solid #0cf32f; */
}
.images{
    width: 100%;
    min-height: 300px;     
/* border: 2px solid #310fef; */
}
.imag1{
    width: 100%;
    min-height: 280px;
    /* border: 2px solid #000; */
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
.imag2{
    width: 27%;
    min-height: 280px;
    /* border: 2px solid #d70f0f; */
}
img{
    width: 290px;
    min-height: 150px;
}
.imag2 a{
text-decoration: none;
color: darkgreen;
}
.imag2 i{
    padding-left: 5px;
}
.footer{
width: 100%;
min-height: 400px;
/* border: 2px solid #de1111; */
padding-left: 40px;
padding-right: 40px;
background-color: black;
}
.footercontent{
    width: 100%;
    min-height: 350px;
    /* border: 2px solid #1af00f; */
    display: flex;
    padding-top: 30px;
    
}
.sec1{
    width: 30%;
    min-height: 100px;
    /* border: 2px solid #1b08e8; */
    padding-left: 10px;
    color: white;
    padding-right: 20px;
}
.sec2{
    width: 20%;
    min-height: 100px;
    /* border: 2px solid #f3ef09; */
    padding-left: 10px;
    color: white;
}
.sec2 h5{
    width: 100px;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    
}
.sec2 a{
    text-decoration: none;
    color: white;
}
.sec1 h5{
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100px;
    color: white;
}
input[type=submit]{
    background-color: darkgreen;
    margin-top: 30px;
}
.row{
    width: 100%;
    border: 1px solid white;
    margin-top: 0px;
}
.footer h5{
    padding-top: 10px;
    font-size: smaller;
    color: white;
    text-align: center;
}