
body{
    background-color: rgb(220, 213, 193)
}
.portfolio{
   background-color: aquamarine; 
}
.logo{
        color: aqua;
    
}
.logo span{
    color: red;
}
.logo ul li{
        margin-top: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;text-decoration:none;
}
.navi ul li a{
    
    text-decoration:none;
}